name: Generate Snake Animation

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Generate Snake
        uses: Platane/snk@v3
        with:
          github_user_name: Lalith9701
          outputs: dist/github-contribution-grid-snake.svg

      - name: Push Snake to Output Branch
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: output
          folder: dist
